{% extends "layout.html" %}
{% block content %}
    <div class="content-section container col-md-10">
        <div class="media">
            <img src="{{ image_file }}" class="rounded-circle account-img m-2">
            <div class="media-body">
                <h2 class="account-heading m-1">{{ current_user.display_name }}</h2>
                <p class="text-secondary m-1">{{ current_user.email }}</p>
            </div>
        </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.user_first_name.label(class="form-control-label", placeholder="First Name") }}
                    {% if form.user_first_name.errors %}
                        {{ form.user_first_name(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_first_name(class="form-control", placeholder="First Name") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.user_last_name.label(class="form-control-label") }}
                    {% if form.user_last_name.errors %}
                        {{ form.user_last_name(class="form-control is-invalid", placeholder="Last Name") }}
                        <div class="invalid-feedback">
                            {% for error in form.user_last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.user_last_name(class="form-control", placeholder="Last Name") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.display_name.label(class="form-control-label") }}
                    {% if form.display_name.errors %}
                        {{ form.display_name(class="form-control is-invalid", placeholder="Name displayed on the pick summary and results.") }}
                        <div class="invalid-feedback">
                            {% for error in form.display_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.display_name(class="form-control", placeholder="Name displayed on the pick summary and results.") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label(class="form-control-label") }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <div class="accordion" id="userSummary">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Weekly Picks
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#userSummary">
              <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col">Week</th>
                            <th scope="col">Driver #1</th>
                            <th scope="col">Driver #2</th>
                            <th scope="col">Driver #3</th>
                            <th scope="col">Driver #4</th>
                            <th scope="col">Manufacturer</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        {% for pick in picks %}
                            <tr class="text-center">
                                <td>{{ pick.week }}</td>
                                <td>{{ pick.driver_1 }}</td>
                                <td>{{ pick.driver_2 }}</td>
                                <td>{{ pick.driver_3 }}</td>
                                <td>{{ pick.driver_4 }}</td>
                                <td>{{ pick.make }}</td>
                                {% if pick.active == True %}
                                    <td><a class="btn btn-primary btn-sm" href="{{ url_for('pool.update_picks', pick_id=pick.id) }}">Update</a></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Weekly Results Summary
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#userSummary">
              <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col">Week</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Points</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        {% for entry in results %}
                            <tr class="text-center">
                                <td>{{ entry.week }}</td>
                                <td>{{ entry.rank }}</td>
                                <td>{{ entry.points }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Standings Summary
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#userSummary">
              <div class="card-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col">Week</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Points</th>
                            <th scope="col">Wins</th>
                        </tr>
                    </thead>
                    <tbody class="table-striped">
                        {% for entry in standings %}
                            <tr class="text-center">
                                <td>{{ entry.week }}</td>
                                <td>{{ entry.rank }}</td>
                                <td>{{ entry.points }}</td>
                                <td>{{ entry.wins }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}