{% extends "layout.html" %}
{% block content %}
    <body class="container col-md-8">
        <h2 class="h2 text-center">Starting Lineup</h2>
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Position</th>
                    <th scope="col">Car</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Team</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for entry in starting_lineup %}
                    <tr class="text-center">
                        <td>{{ entry.position }}</td>
                        <td>{{ entry.car_number }}</td>
                        <td>{{ entry.driver }}</td>
                        <td>{{ entry.team }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p># = Rookie</p>
    </body>
{% endblock content %}