{% extends "layout.html" %}
{% block content %}
    <h2 class="h2 display-4 text-center">The 2019 Woodland Trail Grand National Cup</h2>
    <p class="lead">
        Welcome back race fans to the 2019 Woodland Trail Grand National Cup!  Some exciting changes this year as we all try and adjust to a #48 that isn’t sponsored by Lowes and doesn’t have Chad Knaus on the pit box.
    </p>
    <p>
        Each week, you can submit four drivers for your team - the top three will be scored for your weekly points.  You will receive the same points your drivers receive each week.  As has been past practice, any penalties to drivers or points will not be subtracted from your total.  There are six races which will award double points: the Daytona 500, the Geico 500 at Talladega, the Cola 600 at Charlotte Motor Speedway, the Southern 500 at Darlington, the Federated Auto Parts 400 at Richmond, and the Ford Eco-Boost 400 at Homestead.
    </p>
    <p>
        The weekly pick bonus has been bumped up from 5 points to 10 points - so don’t forget to send in your picks.  There is also a 10 point weekly bonus for picking the winning manufacturer.  If you don’t send in picks, your picks form the week will roll forward.  Picks are due two hours before the green flag drops.
    </p>
    <p>
        There are two additional bonus questions for the Daytona 500 - losing manufacturer and highest finishing team.  There may also be occasional bonus questions throughout the season so be sure to submit picks each week.
    </p>
    <p>
        Weekly winners will be awarded 3 bonus points for each week at the chase reset and the winner of the regular season will automatically get a 10 point lead on the field at the start of the chase.
    </p>
{% endblock content %}