{% extends "layout.html" %}
{% block content %}
    <body class="container col-md-6">
        <div class="content-section">
            <div class="text-center">
                <h1 class="h1">{{ session['week'] }}</h1>
                <img class="mb-4" src="static/images/trophy_512.png" alt="" width="72" height="72">
            </div>
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <div class="form-group">
                        {{ form.car_number.label(class="form-control-label") }}
                        {% if form.car_number.errors %}
                            {{ form.car_number(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.car_number.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.car_number(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.driver.label(class="form-control-label") }}
                        {% if form.driver.errors %}
                            {{ form.driver(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.driver.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.driver(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.sponsor.label(class="form-control-label") }}
                        {% if form.sponsor.errors %}
                            {{ form.sponsor(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.sponsor.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sponsor(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.make.label(class="form-control-label") }}
                        {% if form.make.errors %}
                            {{ form.make(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.make.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.make(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.team.label(class="form-control-label") }}
                        {% if form.team.errors %}
                            {{ form.team(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.team.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.team(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </body>
{% endblock content %}