{% extends "layout.html" %}
{% block content %}
    <body class="container">
        <div class="text-center">
            <h1 class="h1">{{ session['week'] }}</h1>
            <h2 class="h2 text-muted">Entry List</h2>
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Car</th>
                    <th scope="col">Driver</th>
                    <th scope="col">Sponsor</th>
                    <th scope="col">Team</th>
                    <th scope="col">Manufacturer</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for driver in entry_list %}
                        <tr class="text-center">
                            <td>{{ driver.car_number }}</td>
                            <td>{{ driver.driver }}</td>
                            <td>{{ driver.sponsor }}</td>
                            <td>{{ driver.team }}</td>
                            <td>{{ driver.make }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock content %}