{% extends "layout.html" %}
{% block content %}
    <body class="container">
        <div class="text-center">
                    <h1 class="h1">{{ session['week'] }}</h1>
                    <img class="mb-4" src="static/images/trophy_512.png" alt="" width="72" height="72">
                </div>
        <h2 class="h2 text-center">Weekly Picks</h2>
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Name</th>
                    <th scope="col">Driver #1</th>
                    <th scope="col">Driver #2</th>
                    <th scope="col">Driver #3</th>
                    <th scope="col">Manufacturer</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for pick in picks %}
                    {% if pick.week == 1 %}
                        <tr class="text-center">
                            <td>{{ pick.display_name }}</td>
                            <td>{{ pick.driver_1 }}</td>
                            <td>{{ pick.driver_2 }}</td>
                            <td>{{ pick.driver_3 }}</td>
                            <td>{{ pick.make }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock content %}