{% extends "layout.html" %}
{% block content %}
    <body class="container text-center col-md-4">
        <form class="form-signin">
            <h1 class="h1">{{ session['week'] }}</h1>
            <img class="mb-4" src="static/images/trophy_512.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Take me to:</h1>
            <a class="btn" href="{{ url_for('register') }}">Registration Page</a>
            <a class="btn" href="{{ url_for('login') }}">Login Page</a>
            <a class="btn" href="{{ url_for('picks_summary') }}">Pick Page</a>
        </form>
    </body>
{% endblock content %}