{% extends "layout.html" %}
{% block content %}
    <body class="container">
        <h3 class="h3 text-center text-muted">Your Picks</h3>
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Name</th>
                    <th scope="col">Driver #1</th>
                    <th scope="col">Driver #2</th>
                    <th scope="col">Driver #3</th>
                    <th scope="col">Driver #4</th>
                    <th scope="col">Manufacturer</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for pick in picks %}
                    {% if pick.user_id == current_user.id %}
                        <tr class="text-center">
                            <td><a href="{{ url_for('pool.picks_view', pick_id=pick.id) }}">{{ pick.display_name }}</a></td>
                            <td>{{ pick.driver_1 }}</td>
                            <td>{{ pick.driver_2 }}</td>
                            <td>{{ pick.driver_3 }}</td>
                            <td>{{ pick.driver_4 }}</td>
                            <td>{{ pick.make }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <p class="text-info text-center text-muted">Pick can be updated on your <a href="{{ url_for('users.account') }}">account</a> page.</p>
        <h3 class="h3 text-center text-muted">Pool Picks</h3>
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th scope="col">Name</th>
                    <th scope="col">Driver #1</th>
                    <th scope="col">Driver #2</th>
                    <th scope="col">Driver #3</th>
                    <th scope="col">Driver #4</th>
                    <th scope="col">Manufacturer</th>
                </tr>
            </thead>
            <tbody class="table-striped">
                {% for pick in picks %}
                    {% if pick.visible == True %}
                        <tr class="text-center">
                            <td><a href="{{ url_for('pool.picks_view', pick_id=pick.id) }}">{{ pick.display_name }}</a></td>
                            <td>{{ pick.driver_1 }}</td>
                            <td>{{ pick.driver_2 }}</td>
                            <td>{{ pick.driver_3 }}</td>
                            <td>{{ pick.driver_4 }}</td>
                            <td>{{ pick.make }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock content %}