{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Something went wrong. (500)</h1>
        <p class="lead">We are experiencing some trouble on our end.  Please report this error to the <a href="mailto:test.mndev.tech@gmail.com">WTGNC Helper Bot</a> and try again later.</p>
        <hr class="my-4">
        <p class="lead">
            <img src="{{ url_for("static", filename="images/img-500.jpg") }}">
        </p>
    </div>
{% endblock content %}